@model EngLine.ViewModels.TestEditViewModel

<h2>@Model.Title</h2>

@foreach (var question in Model.Questions)
{
	<div>
		<h4>@question.Content</h4>
		<ul>
			@foreach (var answer in question.AnswerOptions)
			{
				<li>
					@answer.Content
					@if (answer.IsCorrectOption)
					{
						<strong>(Correct)</strong>
					}
				</li>
			}
		</ul>
	</div>
}
