@model EngLine.ViewModels.TestEditViewModel;
<style>
	.base {
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}

	.form-inline {
		display: flex;
		align-items: center;
	}

	.mw-450 {
		min-width: 450px;
	}

	.ms-2 {
		margin-left: 16px;
	}

	.ms-5 {
		margin-left: 5px;
	}

	.w-700 {
		width: 700px;
	}

</style>
<div class="base">
	<h1 class="text-center ">Chỉnh sửa bài test</h1>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="Id" />
				<div class="card w-700">
					<div class="card-body">
						<div class="form-group">
							<label asp-for="Title" class="control-label">Tên bài test</label>
							<input asp-for="Title" class="form-control" />
							<span asp-validation-for="Title" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="TimeLimit" class="control-label">Thời gian làm bài (phút)</label>
							<input asp-for="TimeLimit" type="number" class="form-control" />
							<span asp-validation-for="TimeLimit" class="text-danger"></span>
						</div>
					</div>
				</div>
				<hr />
				<div class="card w-700">
					<div class="card-body">
						<h4>Câu hỏi</h4>
						<div id="questions-container">
							@for (int i = 0; i < Model.Questions.Count; i++)
							{
								<div class="question-form" data-index="@i">
									<div class="card mt-4">
										<div class="card-body">
											<div class="form-group form-inline">
												<label asp-for="Questions[i].Content" class="control-label">Câu hỏi @(i + 1)</label>
												<input type="text" asp-for="Questions[i].Content" class="form-control ms-5" style="width: 70%;">
												<input type="text" asp-for="Questions[i].Point" class="form-control ms-5" style="width: 10%;">
												<button type="button" class="btn btn-danger delete-question" style="margin-left: 5px;"><i class="fas fa-trash" aria-hidden="true"></i></button>
												<span class="text-danger field-validation-valid" data-valmsg-for="Questions[i].Content" data-valmsg-replace="true"></span>
											</div>
											<h5>Đáp án</h5>
											<div class="answer-options-container">
												@for (int j = 0; j < Model.Questions[i].AnswerOptions.Count; j++)
												{
													<div class="answer-option-form" data-index="@j">
														<div class="form-group form-inline">
															<label asp-for="Questions[i].AnswerOptions[j].Content" class="control-label">Đáp án</label>
															<input type="text" asp-for="Questions[i].AnswerOptions[j].Content" class="form-control mw-450 ms-5" />
															<button type="button" class="btn btn-danger delete-answer-option" style="margin-left: 5px;"><i class="fas fa-trash"></i></button>
															<span class="text-danger field-validation-valid" data-valmsg-for="Questions[i].AnswerOptions[j].Content" data-valmsg-replace="true"></span>
														</div>
														<div class="form-group form-check">
															<input type="checkbox" asp-for="Questions[i].AnswerOptions[j].IsCorrectOption" value="true" class="form-check-input" />
															<label asp-for="Questions[i].AnswerOptions[j].IsCorrectOption" class="form-check-label">Đáp án đúng?</label>
														</div>
													</div>
												}
											</div>
											<button type="button" class="btn btn-secondary add-answer-option">Thêm đáp án</button>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
					<button type="button" class="btn btn-secondary" id="add-question">Thêm câu hỏi</button>
				</div>
				<button type="submit" class="btn btn-primary">Lưu</button>
			</form>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		$(document).ready(function () {
			let questionIndex = 0;

			// Function to add a new question form
			$('#add-question').click(function () {
				const newQuestionForm = `
										<div class="question-form" data-index="${questionIndex}">
											<div class="card mt-4">
												<div class="card-body">
													<div class="form-group form-inline">
														<label for="Questions_${questionIndex}__Content" class="control-label">Câu hỏi ${questionIndex + 1}</label>
														<input type="text" name="Questions[${questionIndex}].Content" class="form-control ms-5" style="width: 70%;">
														<input type="text" name="Questions[${questionIndex}].Point" class="form-control ms-5" style="width: 10%;">
														<button type="button" class="btn btn-danger delete-question" style="margin-left: 5px;"><i class="fas fa-trash" aria-hidden="true"></i></button>
														<span class="text-danger field-validation-valid" data-valmsg-for="Questions[${questionIndex}].Content" data-valmsg-replace="true"></span>
													</div>
													<h5>Đáp án</h5>
													<div class="answer-options-container"></div>
													<button type="button" class="btn btn-secondary add-answer-option">Thêm đáp án</button>
												</div>
											</div>
										</div>
										`;
				$('#questions-container').append(newQuestionForm);
				questionIndex++;
			});

			// Function to add a new answer option form within a question form
			$(document).on('click', '.add-answer-option', function () {
				const questionForm = $(this).closest('.question-form');
				const questionIndex = questionForm.data('index');
				const answerOptionsContainer = questionForm.find('.answer-options-container');
				const answerOptionIndex = answerOptionsContainer.children().length;

				const newAnswerOptionForm = `
											<div class="answer-option-form" data-index="${answerOptionIndex}">
													<div class="form-group form-inline">
													<label for="Questions_${questionIndex}__AnswerOptions_${answerOptionIndex}__Content" class="control-label">Đáp án</label>
													<input type="text" name="Questions[${questionIndex}].AnswerOptions[${answerOptionIndex}].Content" class="form-control mw-450 ms-5" />
													<button type="button" class="btn btn-danger delete-answer-option" style="margin-left: 5px;"><i class="fas fa-trash"></i></button>
													<span class="text-danger field-validation-valid" data-valmsg-for="Questions[${questionIndex}].AnswerOptions[${answerOptionIndex}].Content" data-valmsg-replace="true"></span>
												</div>
												<div class="form-group form-check">
													<input type="checkbox" name="Questions[${questionIndex}].AnswerOptions[${answerOptionIndex}].IsCorrectOption" value="true" class="form-check-input" />
													<label for="Questions_${questionIndex}__AnswerOptions_${answerOptionIndex}__IsCorrectOption" class="form-check-label">Đáp án đúng?</label>
												</div>
											</div>
											`;
				answerOptionsContainer.append(newAnswerOptionForm);
			});

			// Function to delete a question form
			$(document).on('click', '.delete-question', function () {
				$(this).closest('.question-form').remove();
			});

			// Function to delete an answer option formmw-450
			$(document).on('click', '.delete-answer-option', function () {
				$(this).closest('.answer-option-form').remove();
			});
		});
	</script>
}
