@page
@model LoginModel

@{
	Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<!--Form here-->
			<form method="post" class="login100-form validate-form">
				<span class="login100-form-title p-b-26">
					Welcome
				</span>

				<div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
					<label asp-for="Input.Email" class="form-label">Email</label>
					<input asp-for="Input.Email" class="input100" aria-required="true" placeholder="email@example.com" />
					<span asp-validation-for="Input.Email" class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="Enter password">
					<label asp-for="Input.Password" class="form-label">Password</label>
					<span class="btn-show-pass" style="align-items: end !important; padding-bottom: 12px !important;">
						<i class="zmdi zmdi-eye"></i>
					</span>
					<input asp-for="Input.Password" class="input100" aria-required="true" placeholder="password" type="password" name="pass" />
					<span asp-validation-for="Input.Password" class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<div class="wrap-login100-form-btn">
						<div class="login100-form-bgbtn"></div>
						<button type="submit" class="login100-form-btn">
							Login
						</button>
					</div>
				</div>
			</form>
			<!--End form here-->
			<div class="text-center p-t-115">
				<span class="txt1">
					Don’t have an account?
				</span>
				<a asp-area="Identity" asp-page="/Account/Register" class="txt2">
					Register
				</a>
			</div>
		</div>
	</div>
</div>