@model EngLine.ViewModels.CreateCourseViewModel;

@{
	var teacherId = ViewBag.TeacherId as string;
}

<div style="background-color: #6b2dae; width: 100%; height: 93px;"></div>
<h1 class="text-center mt-2">Tạo Khóa Học</h1>
<form asp-action="AddCourse" method="post" style="margin: 25px auto!important; width: 75%;">
	<input type="hidden" name="TeacherId" value="@teacherId" />

	<div class="row">
		<div class="col">
			<label class="control-label" asp-for="CourseName">Tên Khóa Học</label>
			<input class="form-control" asp-for="CourseName" />
		</div>
		<div class="col">
			<label class="control-label" asp-for="Price">Giá</label>
			<input class="form-control" asp-for="Price" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label" asp-for="CoverPhoto">Ảnh bìa</label>
		<input class="form-control" asp-for="CoverPhoto">
	</div>
	<div class="form-group">
		<label class="control-label" asp-for="Description">Mô Tả</label>
		<textarea class="form-control" style="height: 200px;" asp-for="Description"></textarea>
	</div>

	<div id="lessons">
	</div>
	<button class="btn btn-primary" type="button" id="add-lesson-button">Thêm Bài Học</button>
	<hr>
	<button class="btn btn-primary" type="submit">Tạo Mới</button>
</form>

@section Scripts {
	<script>
		$(document).ready(function () {
			let lessonIndex = 0;
			$('#add-lesson-button').click(function () {
				const newLesson = `
									<h3>Bài Học ${lessonIndex}</h3>
									<div class="form-group">
										<label class="control-label" for="Lessons_${lessonIndex}__Name">Tên Bài Học</label>
										<input class="form-control" name="Lessons[${lessonIndex}].Name" />
									</div>
									<div class="form-group">
										<label class="control-label" for="Lessons_${lessonIndex}__Description">Mô tả</label>
										<textarea style="height: 200px;" class="form-control" name="Lessons[${lessonIndex}].Description"></textarea>
									</div>
									<div class="form-group">
										<label class="control-label" for="Lessons_${lessonIndex}__Photo">Ảnh</label>
										<input class="form-control" name="Lessons[${lessonIndex}].Photo" />
									</div>
									<div class="form-group">
										<label class="control-label" for="Lessons_${lessonIndex}__Video">Video</label>
										<input class="form-control" name="Lessons[${lessonIndex}].Video" />
									</div>
									<div class="form-group">
										<label class="control-label" for="Lessons_${lessonIndex}__Content">Nội dung</label>
										<textarea style="height: 200px;" class="form-control" name="Lessons[${lessonIndex}].Content"></textarea>
									</div>`;
				$('#lessons').append(newLesson);
				lessonIndex++;
			})
		})
	</script>
}