@{
	ViewData["Title"] = "Writing";
	Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="col-md-6 border-right overflow-auto">
	<div class="section" id="writing">
		<h3 class="text-center">Writing Section</h3>
		<p>Write an essay on the following topic:</p>
		<img src="~/img/t1_changes_fast_food_consumption.jpg" alt="">

		<p style="text-align: justify;">
			Many people believe that technology has made life easier and more convenient. However, others argue that technology has made life more complicated and stressful. Discuss both views and give your opinion.
		</p>
	</div>
</div>
<div class="col-md-6 overflow-auto">
	<div class="section" id="writing-answers">
		<h3 class="text-center">Writing</h3>
		<p>Your response should be at least 250 words.</p>
		<textarea id="myTextarea" class="form-control" rows="10" cols="50" placeholder="Write your essay here..."></textarea>
		<p class="text-right mt-2">Word count: <span id="wordCount">0</span></p>
	</div>
</div>

