@using Microsoft.AspNetCore.Identity
@using EngLine.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<a id="manage" class="login popup-with-form" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa-solid fa-user"></i></a>
	<form id="logoutForm" class="login popup-with-form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
		<button id="logout" type="submit" class="login popup-with-form">Logout<i class="fa-solid fa-right-from-bracket"></i></button>
	</form>
}
else
{
	<a class="login popup-with-form" id="register" asp-area="Identity" asp-page="/Account/Register"><span>Register</span></a>
	<a class="login popup-with-form" id="login" asp-area="Identity" asp-page="/Account/Login"><i class="fa-solid fa-right-to-bracket"></i><span>Login</span></a>
}
